/* Custom DatePicker Styles */
.ant-picker-css-var {
  --ant-date-picker-active-border-color: #136f63 !important; /* Primary active border color */
  --ant-date-picker-hover-border-color: #136f63 !important; /* Hover border color */
  --ant-date-picker-cell-active-with-range-bg: #136f631f; /* Background color for active cell within range */
  --ant-date-picker-cell-hover-with-range-bg: #136f6326; /* Background color for hovered cell within range */
  --ant-date-picker-cell-range-border-color: #136f63; /* Border color for cells within the selected range */
}
.ant-picker-active-bar {
    background-color: #136f63 !important;
}

/* Override Ant Design DatePicker Popup Styling */
.ant-picker-dropdown {
  background-color: transparent !important; /* Popup background color */
}

.ant-picker-cell-selected {
  background-color: #136f63 !important; /* Active selected cell background */
}

.ant-picker-cell-hover {
  background-color: #136f63 !important; /* Hovered cell background */
}

.css-var-root.ant-picker-css-var {
    --ant-date-picker-padding-block: 8px !important;
  
    --ant-date-picker-addon-bg: #136f63 !important ;
    --ant-date-picker-active-border-color: #136f63 !important;
    --ant-date-picker-hover-border-color: #136f63 !important;
    --ant-date-picker-active-shadow: #136f63 !important;
    --ant-date-picker-cell-range-border-color:#136f63 !important;
   
    
}

/* Custom background color for the start and end dates of the range */
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #136f63 !important; /* Your custom color */
}

/* Custom background color for the dates within the selected range */
.ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background: #136f631f !important; /* Lighter shade for the range highlight */
}
